pathdef.m
*.sw?
.nfs*
slurm*
__pycache__/
outlog.txt
*.dat
*.hdf

# Products of compilation
*.a
*.o

*.meta
*.bat
*.h5
out*

# scag xecutables
scag_code/bin/*
scag_code/src/scag/scag
scag_code/src/scag_sort/scag_sort
